<div id="newCust">
<div class="row" style="margin-bottom: 40px">
  <div class="col-sm-12">
    <h3>New Customer</h3>
  </div>
</div>
<div class="row">

<div class="col-md-6">
  <div class="card mb-3" style="max-width: 540px;    height:39vh;">
    <div class="row g-0">
      
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Retail Customer</h5>
          <p class="card-text">A currency exchange is a licensed business that allows customers to exchange one currency for another.</p>
          <div class="d-flex flex-wrap">
            <a [routerLink]="['/retailCustomer']" class="btn btn-primary btn-md" style="background-color: #6e50e3">Continue</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <img src="../../../assets/images/reatil_customer.jpg" class="img-fluid rounded-start" alt="...">
      </div>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="card mb-3" style="max-width: 540px;    height: 39vh;">
    <div class="row g-0">
      
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Corporate Customer</h5>
          <p class="card-text">Secure, fast, and convenient currency exchange for all your business needs. Compare rates and save money today!</p>
          <div class="d-flex flex-wrap ">
            <a [routerLink]="['/corporateCustomer']" class="btn btn-primary btn-md" style="background-color: #6e50e3">Continue</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <img src="../../../assets/images/corporate_customer.jpg" class="img-fluid rounded-start" alt="...">
      </div>
    </div>
  </div>
</div>

</div>
</div>



