#newCust{
    height: 100vh;
}

.card-text{
    height:18vh !important;
}

@media(max-width:900px){
    .card{
        height: 100vh !important;
    }

    .d-flex {
        justify-content: center !important;
        align-items: center !important;
    }
    img{
        height: 45vh !important;
    }
}

img{
    height: 32vh;
}