<ul class="navbar-nav ms-auto">
  <li>
    <div class="dropdown drp-user" ngbDropdown placement="auto">
      <a href="javascript:" ngbDropdownToggle>
        <img src="assets/images/dp.png" class="img-radius wid-40" alt="User-Profile-Image" />
      </a>
      <div class="dropdown-menu dropdown-menu-end profile-notification" ngbDropdownMenu></div>
    </div>
  </li>
  <li>
    <div class="dropdown">
      <a href="javascript:" class="displayChatbox dropdown-toggle">
        <i class="fa-solid fa-gear" style="color: #6e50e3" title="Mail InBox"></i>
      </a>
    </div>
  </li>
  <li>
    <div class="dropdown" ngbDropdown placement="auto">
      <a ngbDropdownToggle href="javascript:">
        <i class="icon feather icon-bell" style="color: #6e50e3" title="Notification"></i>
        <span class="badge bg-danger"><span class="sr-only"></span></span>
      </a>
    </div>
  </li>

  <li>
    <div class="dropdown">
      <a href="javascript:">
        <img src="assets/images/logout.png" style="margin-top: -6px" class="img-radius wid-25" alt="" />
      </a>
    </div>
  </li>
</ul>
