<div id="confirm">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5" style="width: 100vw">
        <div class="message-box _success">
          <i class="fa fa-check-circle" aria-hidden="true"></i>
          <h2>Success!</h2>
          <p id="fisrtp">Customer has been onboarded successfully</p>
          <p style="margin-top: -21px; color: #727b80">
            We have sent your Customer ID & Password on registered email address -
            <span style="color: #000; font-size: 15px">{{ lastItem.companyFormdetails.EmailID }}</span>
          </p>
          <form style="background: #f4f4fe">
            <div class="row" style="padding: 12px 0">
              <div class="form-group col-md-3">
                <label for="inputEmail4">Customer ID</label>
                <p>{{ lastItem.id }}</p>
              </div>
              <div class="form-group col-md-3">
                <label for="inputPassword4">Business Type</label>
                <p>{{ lastItem.businessfm.bustypes }}</p>
              </div>
              <div class="form-group col-md-3">
                <label for="inputPassword4">Registration Number</label>
                <p>{{ lastItem.companyFormdetails.RegistrationNumber }}</p>
              </div>
              <div class="form-group col-md-3">
                <label for="inputPassword4">Name of Legal Entity</label>
                <p>{{ lastItem.companyFormdetails.NameofLegalEntity }}</p>
              </div>
            </div>

            <div class="row" style="margin: 0px 0; padding: 22px 0">
              <div class="form-group col-md-3">
                <label for="inputEmail4">Representative Name</label>
                <p>{{ lastItem.companyFormdetails.RepresentativeName }}</p>
              </div>
              <div class="form-group col-md-3">
                <label for="inputPassword4">Contact Number</label>
                <p>
                  <span>+</span>
                  {{ lastItem.companyFormdetails.stdCode }} {{ lastItem.companyFormdetails.ContactNumber }}
                </p>
              </div>
            </div>
          </form>
          <a [routerLink]="['/dashboard']" class="btn btn-primary" style="background: #6e50e3; padding: 8px 46px; margin: 6px 0">Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
