.mat-accordion .mat-expansion-panel {
  margin: 22px 0;
}
#confiDIV {
  height: 100vh;
}
.form-control {
  border: none;
}

label {
  font-family: 'Poppins';
  color: #000;
  font-weight: bold;
}

p {
  color: #000;
  font-family: 'Poppins';
}
