<div class="card">
    <div class="row" style="padding: 20px">
      <div class="col-md-6">
        <h3>Remittance Dashboard</h3>
      </div>
  
    </div>
  </div>
  
  <div class="card" style="padding:20px">
  
    <div class="row">
   
      <div class="col-sm-12">
     <div class="card-title" style="padding: 20px;letter-spacing: 1px;">]</div>
        <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions"
        [yaxis]="chartOptions.yaxis"
        [legend]="chartOptions.legend"
        [fill]="chartOptions.fill"
        [stroke]="chartOptions.stroke"
        [tooltip]="chartOptions.tooltip"
        [xaxis]="chartOptions.xaxis"
      ></apx-chart>
      </div>
     
    </div>
  </div>
  
  