<div id="addModule">
  <div class="row" style="margin-bottom: 17px">
    <h3>Add Module</h3>
  </div>

  <form [formGroup]="myform" (ngSubmit)="submitForm()">
    <div class="example-container">
      <div class="card">
        <div class="row module-row" style="padding: 20px">
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Module Name</mat-label>
              <input matInput placeholder="Module Name" formControlName="moduleName" />
            </mat-form-field>
          </div>
          <div class="col-md-4" appearance="outline">
            <mat-form-field appearance="outline">
              <mat-label>Module Group</mat-label>
              <input matInput placeholder="Module Group" formControlName="moduleGroup" />
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="card">
            <div class="card-body">
              <div class="row" style="margin-bottom: 22px; display: flex; justify-content: center; align-items: center">
                <div class="col-md-6">
                  <h6 style="font-size: 16px">
                    List Of Sub Module :
                    <span style="margin: 0 6px">{{ rowCount }}</span>
                  </h6>
                </div>
                <div class="col-md-6 addBtnClass">
                  <a
                    class="btn btn-primary"
                    style="background-color: #6e50e3; padding: 12px 56px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px"
                    (click)="addSub_module()"
                  >
                    <i class="fa fa-plus"></i>
                    Add
                  </a>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr style="border-bottom: 1px solid #e9dbdb">
                      <th>#</th>
                      <th style="width: 18vw">Sub Module Name</th>
                      <th>Template</th>
                      <th>Action</th>
                    </tr>
                  </thead>

                  <tbody formArrayName="subModules">
                    <tr *ngFor="let subModule of SubModdulesForms.controls; let i = index" [formGroupName]="i">
                      <td>{{ i + 1 }}</td>
                      <td>
                        <mat-form-field appearance="outline" style="width: 128% !important">
                          <mat-label>Sub Module Name</mat-label>

                          <input matInput placeholder="Sub Module Name" formControlName="subModuleName" />
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field appearance="outline" style="width: 128% !important">
                          <mat-label>Template</mat-label>
                          <mat-select formControlName="template">
                            <mat-option *ngFor="let val of templates" [value]="val">{{ val }}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>

                      <td>
                        <button
                          style="background: #ff2e2e"
                          class="btn btn-danger btn-sm rounded-0"
                          type="button"
                          (click)="deleteSub_module(i)"
                          data-toggle="tooltip"
                          data-placement="top"
                          title="Delete"
                        >
                          <i class="fa fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="display: flex; justify-content: flex-end; align-items: center">
      <a
        [routerLink]="['/moduleMaster']"
        mat-raised-button
        color="primary"
        style="margin: 0 20px; padding: 3px 58px; background: #fff; color: #6e50e3; font-weight: 900; font-family: 'Poppins'"
      >
        Cancel
      </a>

      <button
        type="submit"
        mat-raised-button
        color="primary"
        style="background-color: #6e50e3; margin: 0 20px; padding: 3px 58px; font-family: 'Poppins'"
      >
        Submit
      </button>
    </div>
  </form>
</div>
